<div class="app-view-header">
    Transactions
</div>


<div ng-controller="caseTransactionController" class="container-fluid">

    <!-- Editable row-->
    <!--<h4 class="page-header">transaction</h4>-->

    <table class="table table-bordered table-hover bg-white">
        <tr style="font-weight: bold">
            <td style="width:20%">transaction</td>
            <td style="width:20%">Username</td>
            <td style="width:20%">CostCentre</td>
            <td style="width:20%">Department</td>
            <td style="width:20%">Division</td>
            <td style="width:10%"></td>
        </tr>

        <tr ng-repeat="transaction in transactionList">
            <td>
                <span>{{ transaction.transaction}}</span>
            </td>
            <td>
                <span>{{ transaction.username}}</span>
            </td>
            <td>
                <span>{{ transaction.costCentre}}</span>
            </td>
            <td>
                <span>{{ transaction.department}}</span>
            </td>
            <td>
                <span>{{ transaction.division}}</span>
            </td>

            <td style="white-space: nowrap">

                <div class="buttons">
                    <a href="#/app/transaction?id={{transaction.transactionId}}" ng-if="permissionAccessLevel.isEdit" title="Edit" class="btn btn-sm btn-info">
                        <em class="fa fa-pencil"></em>
                    </a>
                </div>
            </td>
        </tr>
    </table>

    <div style="margin-left:10px" paging
         page="model.page"
         page-size="model.pageSize"
         total="model.total"
         paging-action="pagingAction(page)">
    </div>
</div>