<div ng-controller="phlebotomyController">


   
        <div class="form-group mb-xl shadow-z1">
            <div class="input-group">
                <input type="text" placeholder="Search Id .." class="form-control input-filter input-sm ng-pristine ng-untouched ng-valid" my-enter="searchFunc()" ng-model="search.Search" >
                
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-sm " ng-click="search()"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>




    <div class="panel panel-default ">
        <div class="panel-heading ">

            <div class="btn-group pull-right">

                <button class="btn btn-default ember-view popovercontainer" data-original-title="Print" title="Back">
                    <i class="fa fa-backward"></i>
                </button> 
                <button class="btn btn-default ember-view popovercontainer" data-original-title="PDF" title="Next">
                    <i class="fa fa-forward"></i>
                </button>
               
            </div>

            <div class="panel-title  ">Phlebotomy</div>
        </div>
        <hr />
        <div class="panel-body">

            <div class="col-lg-3 col-md-3 col-sm-3">
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <div class="p bb-info mb">
                                <div class="text-md">Muhamamd Farrukh Khan</div>
                            </div>
                            <div class="text-md">Test Id: 1651</div>
                            <em class="text-muted">Mr: 0225</em>
                            <em class="text-muted">Age: 25</em>
                            <em class="text-muted">Sex: Male</em>
                            <ul class="list-unstyled">
                                <li class="bb pv">	ABGs (Arterial Blood Gases)</li>
                                <li class="bb pv">Absolute Esinophil Count</li>
                                <li class="bb pv">	ACTH (Adrino Cortico Tropic Hormone)</li>
                                <li class="bb pv">	AFB Culture & Sensitivity</li>
                                <li class="bb pv">CPK (Creatine Phospho Kinase)</li>
                                <li class="pv">CRP (C-Reactive Protein)</li>
                                <li class="pv">
                                    <!--<p>Praesent in libero at neque gravida venenatis auctor nec arcu.</p>-->
                                    <a href="" class="btn btn-success">Acknowledge</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
            </div>


            </div>
    </div>
</div>












