<div ng-controller="DashboardController">



    <div class="app-view-header">


        <!--<div class="row">

            <div class="col-md-4">

                <img src="app/img/logo/logo.png" alt="App Logo" class="brand-logo" />
                Budget & Finance    
                 
            </div>

            <div class="col-md-4">
            </div>



        </div>-->






        <!--<small ng-bind="app.description"></small>-->
        <!--<small>PPHI SINDH</small>-->


    </div>



</div>
