<div ng-controller="customerController">
    <div class="app-view-header">
        customers
        <button class="btn btn-success pull-right" style="margin:5px" ng-click="excel()">
            <i class="fa fa-file-excel-o"></i> &nbsp; Excel
        </button>

        <button class="btn btn-success pull-right" style="margin:5px" ng-click="pdf()">
            <i class="fa fa-print"></i> &nbsp; Print
        </button>

        <a href="#/app/customer?id=0" ng-if="permissionAccessLevel.isAdd" class="btn btn-info pull-right" style="margin:5px;">
            <i class="fa fa-plus-square"></i> &nbsp;  New customer
        </a>
    </div>

    <div class="container-fluid">


        <form>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="status.isFirstOpen">

                    <accordion-heading>
                        <div ng-click="filterAccordian()">
                            <em class="fa fa-plus-square" id="filterAccordian"></em>  Search
                        </div>
                    </accordion-heading>


                    <div class="col-lg-12">


                        <fieldset>
                            <div class="row padding-row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Customer Name</label>

                                    <div class=" col-sm-4 ">
                                        <input type="text" ng-model="search.name" class="form-control form-control-rounded input-sm" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cif  No.</label>

                                    <div class="col-sm-4">
                                        <input type="text" ng-model="search.cifBaseCIDRIMNo" class="form-control form-control-rounded input-sm" />
                                    </div>

                                </div>
                            </div>

                            <div class="row padding-row">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Passport No.</label>

                                    <div class=" col-sm-4 ">
                                        <input type="text" ng-model="search.passportNo" class="form-control form-control-rounded input-sm" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Mobile No.</label>

                                    <div class="col-sm-4">
                                        <input type="text" ng-model="search.mobileContactNumber" class="form-control form-control-rounded input-sm" />
                                    </div>

                                </div>
                            </div>



                            <div class="row padding-row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">CNIC No.</label>

                                    <div class=" col-sm-4 ">
                                        <input type="text" ng-model="search.cnicNo" class="form-control form-control-rounded input-sm" />
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="col-sm-2 control-label">HC Mobile No.</label>

                                    <div class="col-sm-4">
                                        <input type="text" ng-model="search.hcMobileContactNumbers" class="form-control form-control-rounded input-sm" />
                                    </div>

                                </div>

                            </div>
                          
                        </fieldset>











                        <div class="panel-footer text-center">
                            <button type="button" class="btn btn-info" ng-click="reset()">Reset</button>
                            <button type="submit" class="btn btn-info" ng-click="filter()">Search</button>

                        </div>




                    </div>

                </accordion-group>

            </accordion>
        </form>


        <table class="table table-bordered table-hover bg-white">
            <tr style="font-weight: bold">

                <td>Name</td>
                <td>CIF No.</td>
                <td>Passport No.</td>
                <td>Mobile No.</td>
                <td>CNIC No.</td>
                <td>HC Mobile No.</td>

                <td style="width:10%"></td>
            </tr>

            <tr ng-repeat="customer in customerList">
                <td>
                    <span>{{ customer.name}}</span>
                </td>
                <td>
                    <span>{{ customer.cifBaseCIDRIMNo}}</span>
                </td>
                <td>
                    <span>{{ customer.passportNo}}</span>
                </td>
                <td>
                    <span>{{ customer.mobileContactNumber}}</span>
                </td>

                <td>
                    <span>{{ customer.cnicNo}}</span>
                </td>
                <td>
                    <span>{{ customer.hcMobileContactNumbers}}</span>
                </td>



                <td style="white-space: nowrap">

                    <div class="buttons">
                        <a href="#/app/editcustomer?id={{customer.id}}" ng-if="permissionAccessLevel.isEdit" title="Edit" class="btn btn-sm btn-info">
                            <em class="fa fa-pencil"></em>
                        </a>
                        <button ng-click="delete(customer.id)" title="Delete" ng-if="permissionAccessLevel.isDelete" class="btn btn-sm btn-danger">
                            <em class="fa fa-trash"></em>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        <div style="padding-left:20px;">
            <h4>
                {{system.alertMsg}}
            </h4>
        </div>
        <div style="margin-left:10px" paging
             page="model.page"
             page-size="model.pageSize"
             total="(model.totalPage)"
             paging-action="pagingAction(page)">
        </div>

        <div style="margin-left:10px" ng-if="system.alertMsg == ''">
            {{system.startRowNumber}} - {{system.endRowNumber}} Out Of {{model.total}} Rows
        </div>

    </div>
</div>